@charset "utf-8";
/* CSS Document */

input[type="button"]{
	background-image: linear-gradient(to bottom right, #9B32E1,#5A28A2);
	color: black;
	font: bold;
	border: solid black 2px;
	width:100%;
	border-radius: 10px;
}
  
input[type="text"]{
	background-color:darkgrey;
	border: solid black 2px;
	width:97%
}
#background{
	background-color: #1E1E2B;
}
table{
	border-radius: 10px;
}
body{
	background-color: #0C0F17
}