@charset "utf-8";
/* CSS Document */

body{
	background-color: #23222B;
	color: #FFFFFF;
	margin:0px;
	text-align: center
	
}

#wrapper{
	background: #2A292D;
	margin: auto;
	width: 80%;
	
}

#banner{
	background-color: #271B4B;
}
#banner img{
	width: 100%;
	height: 70px;
}

#nav{
	height: 22px;
	background-color: #271B4B;
	
}

#nav a{
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-transform: uppercase;
	font-weight: bold;
	padding: 1px;
}

#nav a:hover{
	background-color: #2E2549;
	padding: 0px;
	padding-left: 1px;
	padding-right: 1px;
	
}

#content{
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#all{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    height:  800px;
}

#footer{
	text-align: right;
	height: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-transform: uppercase;
	font-size: 16px;
	background-color: #271B4B
	}
        /*Gallery CSS*/






div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 230px;
}

div.desc {
    padding: 15px;
    text-align: center;
}


