@charset "utf-8";
/* CSS Document */

#content{
	margin: auto;
	width:30%;
	padding-left: 20%;
	align-content: center;
}

.calcButtons{
    width: 30px;
    border-radius: 10px;
    background-color: darkgrey;
}

#calc{
    width: 125px
}