@charset "utf-8";
/* CSS Document */

body{
	background-color: #23222B;
	color: #FFFFFF;
	margin:0px;
	text-align: center
	
}

#wrapper{
	background: #2A292D;
	margin: auto;
	width: 50%;
	
}

#banner{
	
}

#nav{
	height: 22px;
	background-color: #271B4B;
	
}

#nav a{
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-transform: uppercase;
	font-weight: bold;
	padding: 1px;
}

#nav a:hover{
	background-color: #2E2549;
	padding: 0px;
	padding-left: 1px;
	padding-right: 1px;
	
}
#leftnav{
    width: 10%;
    background-color: #313034;
    height: 50px;
    float: left;
}
#leftnav a{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    color:#FFFFFF;
    text-decoration: none;
    padding: 4px;
    
}
#leftnav a:hover{
    padding: 5px;
    background-color: #343333
}

#content{
	width: 85%;

}

#footer{
	text-align: right;
	height: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-transform: uppercase;
	font-size: 16px;
	background-color: #271B4B;
	}